<% content_for :title do %>Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GeraudWilling/smashing-poc" data-view="GithubStats"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GeraudWilling/OpenshiftTest" data-view="GithubStats"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GeraudWilling/spring-boot" data-view="GithubStats"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GeraudWilling/spring-bootSpringHibernateMavenSample" data-view="GithubStats"></div>
    </li>
  </ul>
</div>